html{
  background-color: black;
}

.menu{
  width: 300px;
  background-color: rgb(27, 77, 130);
  height: 0;
  margin: 0 auto;
  transition:height 0.3s linear;
}

ul{
  list-style-type: none;
  padding:0;
  color:rgb(185, 185, 185);
}

li{
  padding:15px 10px 15px 20px;
  cursor:default;
}

.user{
  background-color: rgb(42, 201, 60);
  display:flex;
  align-items:center;
}

/*transizioni in chiusura*/

.dashboard{
  opacity:0;
  transition:opacity 0.2s linear 0s;
}

.projhect{
  opacity:0;
  transition:opacity 0.16s linear 0s;
}
.users{
  opacity:0;
  transition:opacity 0.12s linear 0s;
}
.comments{
  opacity:0;
  transition:opacity 0.08s linear 0s;
}
.stats{
  opacity:0;
  transition:opacity 0.04s linear 0s;
}

/*transizioni in apertura*/

.menu:hover .dashboard{
  opacity:1;
  transition:opacity 0.1s linear 0s;
}
.menu:hover .projhect{
  opacity:1;
  transition:opacity 0.2s linear 0s;
}
.menu:hover .users{
  opacity:1;
  transition:opacity 0.3s linear 0s;
}
.menu:hover .comments{
  opacity:1;
  transition:opacity 0.4s linear 0s;
}
.menu:hover .stats{
  opacity:1;
  transition:opacity 0.5s linear 0s;
}

.menu:hover{
  height:400px;
  transition:height 0.2s linear 0s;
}

img{
  width: 45px;
  border-radius: 50%;
}

a{
  margin:10px;
}

.dashboard, .comments{
  background-color: rgb(27, 46, 92);
  color:rgb(42, 201, 60);
}

.user>a, .dashboard>a, .comments>a{
  color:white;
}

.user{
  padding: 15px;
}

.user, .dashboard, .comments{
  cursor:pointer;
}

.dashboard:hover, .comments:hover{
  background-color:rgb(240, 136, 41);
}
